<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    {include file="_common/var.htm"}
    <link rel="stylesheet" href="static/css/common/common.css">
    <link rel="stylesheet" href="static/css/bid_staticexplain.css">
    <meta name="author" content="wuping"/>
</head>
<body>
{include file="_common/header.htm"}
<div class="planningExplain">
    <div class="starBid">
        <span class="starMark">明星项目</span>
        <h2 class="starbidTit">{$result.rateMin}% - {$result.rateMax}%</h2>
        <p class="duration"><span>期限：</span><span>1个月</span><span>|</span><span>2个月</span></p>
    </div>
    <dl class="explain">
        <dt><span class="expName">什么是日息宝计划</span></dt>
        <dd>日息宝计划是好贷宝平台最新推出的网络借贷项目，省心出借，收益最大化。</dd>
        <dd>日息宝计划经由出借人授权，一键出借后，平台立即优先匹配投标，并由系统为出借人实现分散投标，节省时间，提高效率。</dd>
    </dl>
</div>
{include file="_common/footer.htm"}
</body>
</html>