@charset "utf-8";
@import url('common/reset.css');
@import url('common/header.css');
@import url('common/common.css');
body{
    background: #f5f5f5;
}
.staticIntro{
    border-top: 0.013rem solid #eeeeee;
}
.intro{
	background: #ffffff;
    border-bottom: 0.013rem solid #eeeeee;
    padding: 0.4rem;
}
.intro h3{
    font-size: 0.427rem;
    color: #444444;
    line-height: 0.64rem;
    margin-bottom: 0.267rem;
}
.intro p{
	font-size: 0.373rem;
	color: #5f616b;
	line-height: 0.64rem;
	text-indent: 2em;
}