
@import url('common/button.css?__inline');
@import url('common/modelLia.css?__inline');

.label{padding:0 0.267rem;}
.pr{padding-right: 0.1rem;}
.modelLia .con-b{position:relative;}
.modelLia .con-b .newMsg{width: 0.16rem;height: 0.16rem;top: 0.4rem;left: 2.5rem;}