

.section {
	background: #fff;
}
.help-subset {
	padding: 0.2667rem 0.4rem 0.2667rem 0.2667rem;
}
.help-subset .help-subset-title {
	font-size: 0.4267rem;
	color: #444;
	margin: 0.2667rem 0;
}

.section .content {
	font-size: 0.3733rem;
}
.content .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	border: 0.0133rem #eee solid;
	border-top: none;
	line-height: 1.5;	/*min-height: 1.0933rem;*/
}
.content ul li .row .col-left {
	padding: 0.2667rem 0.4rem;
	width: 3.0667rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 3.0667rem;
	flex: 0 0 3.0667rem;
	height: 100%;
}
.content ul li:first-child .row {
	border-top: 0.0133rem #eee solid;
}
.content ul li .row .col-right {
	border-left: 0.0133rem #eee solid;	/*line-height: 1.0933rem;*/
	padding-left: 0.4rem;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	line-height: 0.8rem;
}