<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	{include file="_common/var.htm"}
	<meta name="author" content="wuping" />
	<link rel="stylesheet" href="static/css/common/common.css">
	<link rel="stylesheet" href="static/css/automatic_bid_agreement.css">
</head>
<body>
{include file="_common/header.htm" returnBtn="back"}
<div class="appwrap">
	<div class="agreementWrap">
		<div class="topExplain">
			本协议由已经注册成为好贷宝平台用户的会员（以下简称“用户”）与好贷宝平台（域名：www.haodaibao.com，以下简称“好贷宝”）的运营和管理方中融金（北京）科技有限公司（以下简称“中融金”）以线上点击确认的方式签署。用户在自动投标设置页面勾选“我已阅读并同意”《自动投标协议》，并按照页面指示成功开启自动投标功能后，即表示用户已向中融金发出明确的授权，即授权好贷宝系统在符合用户设定的自动投标条件的情况下，代用户做出投标选择并完成投标行为，用户与好贷宝达成本协议并同意本协议项下约定的全部内容及与本协议相关的“好贷宝”平台上设定的各项规则或规定。<strong>在确认开启自动投标功能之前，请用户确认已经认真仔细阅读本协议的全部内容，对协议条款不存在任何疑问或异议，并对协议各方的权利、义务、责任与风险有清楚和准确的理解。一旦自动投标功能开启成功，即表示用户完全同意本协议的内容，并受本协议条款约束。</strong>
		</div>
		<dl class="agreementMod">
			<dt>一、    释义</dt>
			<dd>1、	自动投标：指好贷宝在网站、手机APP等服务渠道推出的一项帮助用户进行快速投标和资金管理的增值服务功能，即好贷宝在取得用户充分授权的情况下，在新的借款标发布时，依据用户设定条件及好贷宝平台的自动投标规则，通过系统根据一定计算方法，帮助已启用自动投标功能的用户进行便捷、高效的投标。</dd>
			<dd>2、	用户设定条件：指用户开通自动投标功能时，根据自己的投资习惯及投资要求自行设定的委托投资金额、投资项目期限、账户保留余额等条件。</dd>
			<dd>3、	账户保留余额：指用户在设置自动投标功能时，设定的用户账户内不参与自动投标的金额。当用户账户内的可用余额低于不参与自动投资的金额时，则自动投标功能暂不执行，当可用余额高于不参与自动投标的金额时，自动投标功能继续执行。即：
				<ul>
					<li>可用余额>账户保留余额，执行自动投标功能；</li>
					<li>可用余额≤账户保留余额，不执行自动投标功能。</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreementMod">
			<dt>二、	自动投标设置</dt>
			<dd>1、	前提：用户在好贷宝平台注册，并完成实名认证后，方可根据好贷宝自动投标功能设置指引开启自动投标功能，好贷宝非实名认证用户无法开通自动投标功能。</dd>
			<dd>2、	开启：用户通过用户账户中心页面，进入“自动投标设置”，根据相关页面提示完善“出借期限”、“保留余额”等信息后，开启自动投资功能。</dd>
			<dd>3、	修改和取消：用户在开启自动投标功能后，可以在“自动投标设置”页面修改已经开启的自动投标功能的详细信息或取消自动投标功能。好贷宝将根据重新设置后的用户设定条件进行自动投标，或直接取消自动投标功能。</dd>
		</dl>
		<dl class="agreementMod">
			<dt>三、	自动投标授权</dt>
			<dd>1、	用户在此同意并确认：<strong>用户在好贷宝开通自动投标功能，即表示用户充分授权好贷宝按照用户设定条件进行投资和资金管理，认可自动投标功能下达成的一切投资交易行为和自愿承担由此造成的一切风险和损失。</strong></dd>
			<dd>2、	用户在此不可撤销的授权好贷宝，以用户个人名义签署自动投标功能项下所有的协议及文件，用户认可该所有协议及文件视作用户亲自签署，对其效力及内容均予以认可，并承诺按照所有协议及文件约定的内容承担相应的权利义务。</dd>
			<dd>3、	用户在此不可撤销的授权好贷宝，根据用户的委托进行自动投资时，在保证账户保留余额的前提下，可以按照相关协议的约定对用户账户内的可用余额进行冻结、划转、划扣、支付以及行使其他权利（如支付收益、费用等）等操作。用户账户内的可用余额来源包括但不限于用户自行充值金额、用户已投资项目所得利息及回款等。</dd>
		</dl>
		<dl class="agreementMod">
			<dt>四、	自动投标规则</dt>
			<dd>1、	好贷宝平台自动投标功能仅限于精选项目，不适用于日息宝或银行宝等项目类型。</dd>
			<dd>2、	考虑到系统延迟因素，用户开启自动投标功能并完成用户条件设置后，自动投标功能将在十分钟之内生效，好贷宝将根据实际上标情况及用户自动投标功能开启的先后顺序进行投资序列的排序。如果开启当日或某项目的还款日开启自动投标功能的用户过多，且好贷宝平台发布的项目金额不足以满足自动投标用户投资需求的，则存在开启当日或某项目的还款日用户账户实际自动投标金额小于用户预设可参与自动投标的金额，用户对此予以确认且无异议。</dd>
			<dd>3、	用户可以根据实际情况设置账户保留余额，当账户可用余额小于或等于保留余额时，系统将暂停自动投标功能；当账户实际余额大于保留余额时，好贷宝将在大于保留余额的额度内，进行自动投标。</dd>
			<dd>4、	好贷宝根据用户设定条件，将资金直接投资到一个或多个项目中，用户可以在“账户中心”—“我的出借”—“精选项目”中查看自动投标项目进度、出借金额、出借期限、出借时间等具体项目信息。</dd>
			<dd>5、	用户自主选择修改已经设置完成的用户设定条件的，好贷宝将根据用户修改后的用户设定条件进行投资，后期修改将不影响已经完成的投资。</dd>
			<dd>6、	用户自主选择取消自动投标功能的，投资资金将根据以下规则处理：
				<ul>
					<li>1)	未投资到具体项目中的资金，立即撤销自动投资，所有资金恢复到自动投标功能设置之前的状态，用户可以根据实际情况进行自行投资或提现等；</li>
					<li>2)	<strong>已经投资成功的，投资资金将无法撤回，</strong>此部分资金在投资项目到期回款后自动取消自动投标；</li>
					<li>3)	已经投资到具体项目但项目尚未满标的，投资资金暂时冻结，如果项目满标，则资金按照好贷宝平台出借规则支付至借款人，待项目到期回款后自动取消自动投标；如果项目流标，则投资资金解除冻结状态。</li>
				</ul>
			</dd>
			<dd>7、	用户在设置自动投标功能后，在系统未进行匹配投资且完成自动投标的情况下，用户可以根据实际情况对所有账户余额进行手动投资或账户余额提现否则，用户只能在账户可用余额范围内进行手动投资或提现。</dd>
			<dd>8、	收益处理规则：自动投资资金所得收益将直接参与自动投标功能，由好贷宝提供自动投标服务，适用本协议各项约定。</dd>
			<dd>9、	服务费：目前，自动投标功能暂时不收取服务费，但好贷宝平台可以根据实际运营情况决定自动投标功能服务费的收取标准。</dd>
			<dd>10、 系统在根据用户自动投标设置进行匹配投资时，会根据好贷宝红包或现金券的奖励规则领取红包或现金券，并根据好贷宝平台的使用规则使用红包或现金券。</dd>
		</dl>
		<dl class="agreementMod">
			<dt>五、	声明和承诺</dt>
			<dd>1、	好贷宝有权随时根据法律法规的规定及自身业务经营情况对自动投标功能的使用规则进行调整，该种调整将以网站公告、站内信、邮件、短信等方式进行通知，并自通知发布之日起开始实行。</dd>
			<dd>2、	好贷宝根据用户的授权，按照用户设定条件进行投资，用户知晓并确认，好贷宝对采取自动投标功能投资的项目的预期收益率、风险等均不作任何保证、承诺或/和担保。</dd>
			<dd>3、	好贷宝根据平台实际上标情况及用户自动投标功能开启的先后顺序安排自动投标事宜，但不保证用户开启自动投标功能后，资金可以马上全部出借成功。</dd>
			<dd>4、	用户保证用于出借的资金来源合法，是该资金的合法所有人，资金的归属和合法性不存在任何争议。<strong>因用户资金合法性问题造成的一切纠纷，由您自行解决并承担由此造成的一切损失。</strong></dd>
			<dd>5、	用户保证严格遵守本协议的约定及好贷宝平台关于自动投标功能的相关规则，若用户对相关约定及规则存在异议的，应随时取消自动投标功能。</dd>
			<dd>6、	用户可以根据实际情况修改或取消自动投标功能，但由于通讯故障、系统故障以及其他因素影响使好贷宝未能收到用户设置、修改或取消操作的，好贷宝不承担责任，用户承诺自行承担采取自动投标功能进行投资的项目的所有风险。</dd>
		</dl>
		<dl class="agreementMod">
			<dt>六、	风险提示</dt>
			<dd>用户确认好贷宝已经向用户充分提示自动投标过程中有可能出现的风险，包括但不限于：</dd>
			<dd>1、	政策风险
				<p>因网络借贷是基于当前的国家宏观政策及相关法律法规所设计，若国家宏观政策（如财政政策、货币政策、行业政策、地区发展政策）以及市场相关法律法规发生变化，可能会导致网络借贷资金面临损失。</p>
			</dd>
			<dd>2、	借款人信用风险
				<p>当借款人短期或者长期丧失还款能力，包括但不限于借款人收入情况、婚姻状况、财产状况发生变化、人身出现意外、发生诉讼、疾病、死亡等情况，或者借款人的还款意愿发生变化时，用户的出借资金及收益可能无法按时、足额回收。</p>
			</dd>
			<dd>3、	资金流动性风险
				<p>用户按照约定将资金出借给借款人使用，在借款人不主动提前还款的情况下，借款人按照约定的期限分期偿还用户的本金和利息，用户的出借资金将分期回收，因此资金回收需要一定的周期。</p>
			</dd>
			<dd>4、	延迟回款风险
				<p>当面临本条第2款约定的借款人信用风险时，用户当期应得到的回款可能延迟。</p>
			</dd>
			<dd>5、	流标风险
				<p>自借款信息发布并开始接受投标时起至约定的投标截止日止，若借款项目仍未满标，根据相关法律法规以及政策，该借款标存在流标即相关借款合同不成立的风险。</p>
			</dd>
			<dd>6、	不可抗力
				<p>由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致用户资金损失的风险。</p>
				<p><strong>用户再次确认，已经明确知晓上述风险，并自愿承担因上述风险的发生而造成的损失。</strong></p>
			</dd>
		</dl>
		<dl class="agreementMod">
			<dt>七、	违约责任</dt>
			<dd>在本协议有效期内，一方违反本合同之任何条款，致使相关方遭受损失时，违约方须赔偿因此给对方造成的一切经济损失（包括但不限于诉讼/仲裁费用、律师费、评估费、保全及担保费、差旅费、调查费及其他实现债权所产生的费用等）；双方均有过错的，应根据双方实际过错程度，分别承担各自的违约责任。</dd>
		</dl>
		<dl class="agreementMod">
			<dt>八、	其他</dt>
			<dd>1、	好贷宝有权对本协议进行修改，修改版本一经公布立即生效，对本协议修改前开启自动投标功能的用户产生同等效力，用户对修改后的协议存在异议的，可随时取消自动投标功能。</dd>
			<dd>2、	因发生不可抗力事件导致双方不能或暂时不能全部或部分履行本协议的，该方不负责任。但应在条件允许的情况下，采取一切必要的补救措施以减小不可抗力造成的损失。</dd>
			<dd>3、	本协议的签订、生效和履行应以不违反法律法规的规定为前提。如果本协议中的任何一条或多条被司法部门认定为违反相关法律法规的，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</dd>
			<dd>4、	双方对于本协议的约定及履行产生争议的，应通过友好协商的方式解决；经协商不能达成一致意见的，则可向中融金所在地人民法院提起诉讼。</dd>
			<dd>5、	本协议采用电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并永久保存在好贷宝服务器上备查，对各方均具有法律约束力。</dd>
		</dl>
	</div>
</div>
{include file="_common/footer.htm"}
</body>
</html>